@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.3%;
}

body {
    font-family: 'Aleo', serif;
    font-size: 10rem;
    min-height: 100vh;
    color: #445361;
    text-align: center;
    background-color: white;
}

/* --------- Heading */

.heading {
    padding-top: 4rem;
    text-align: center;
    font-size: 8rem;
}

.logo {
    padding-top: 4rem;
    height: 11rem;
    padding-right: 5px;
}

/* --------- Game layout */

.game-area {
    background-color: #e6ecf0;
    width: 85%;
    height: 75vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-area {
    width: 50%;
    font-size: 8rem;
    margin: 3rem auto;
}

.questions--flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.question-area span {
    padding: 0 0.1rem;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 10vh;
}

.controls-area {
    width: 85%;
    margin: 3rem auto 1rem;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 3rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 20rem;
    height: 6vh;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn--big {
    border-radius: 50%;
    border: 10px solid;
    width: 100px;
    height: 100px;
    margin: 0 30px;
    transition: all 0.5s;
    margin-bottom: 2rem;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange {
    border-color: orange;
    -color: orange;
}

.btn--orange:active,
.btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
}

.btn--gray {
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
    font-size: 1.7rem;
    color: white;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

/* --------- Media queries */

@media (max-width: 936px) {
}
